extends layout


block content
 div.container-fluid
  div.row-fluid
    div.span8
     div.hero-unit     
       div.media-body
        a(href='http://paper.li/VCongresoMedico/1378193318')
         img.media-object(src='/images/logo.jpg')
        h2.alert.alert-success COMITÉ ORGANIZADOR 
    div.span4
     div.well.sidebar-nav
      ul.nav.nav-list
       li.nav-header twitter
       li: a.twitter-timeline(width='300', height='350', href='https://twitter.com/VCongresoMedico', data-widget-id='374564539422887936') Tweets by @VCongresoMedico
     script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    div.row-fluid
      div.span10
        h4.alert PRESIDENTE 
        h5 DR. RODOLFO CELIO MURILLO
        p CATEDRATICO DE LA FACULTAD DE MEDICINA BUAP - (URT)
      div.span2
       img.media-object(src='/images/cona.jpg')
    div.row-fluid
     div.span6
       h4.alert VICEPRESIDENTE
       h5 DR. JESUS RENE FREYDE PULIDO
       p CATEDRATICO DE LA FACULTAD DE MEDICINA BUAP - (URT)
     div.row-fluid
      div.span6
       h4.alert PRESIDENTE ESTUDIANTIL
       h5 LEONARDO FABIO ESQUIVEL GAONA
       p ESTUDIANTE DE LA FACULTAD DE MEDICINA DE BUAP - (URT)
     div.row-fluid
      div.span6
       h4.alert SECRETARIAS
        h5 TANIA RODRÍGUEZ ARIAS
        p ESTUDIANTE DE LA FACULTAD DE MEDICINA BUAP - (URT)
        h5 YUVANELLY CID RAMÍREZ
        p ESTUDIANTE DE LA FACULTAD DE MEDICINA BUAP - (URT) 
      div.span6
        h4.alert TESOREROS
        h5 JOSE YOVANI BONILLA MORALES
        p ESTUDIANTE DE FACULTAD DE MEDICINA DE BUAP - (URT)
        h5 ERICK PEDRO RODRIGUEZ 
     div.row-fluid
      div.span9
       h4.alert Vocales
       h5 ALEJANDRO CARRASCO ROJAS, ALFONZO RODRÍGUEZ OJEDA, AMÉRICA LUNA LARA
       h5 ANDONI AVENDAÑO ORTIZ, BARBARA GUTIÉRREZ APOLINAR, CARLOS EMILIO CARRILLO RODRÍGUEZ
       h5 CELSO HERNÁNDEZ HERNÁNDEZ, DAVID DE LOS SANTOS OCAÑA, DULCE TRINIDAD DURÁN CRUZ
       h5 EMMANUEL DE JESUS MARCOS BALTAZAR, EMMANUEL HERNÁNDEZ GARCIA, GERARDO PABLO HERNÁNDEZ
       h5 GIOVANNA SOCORRO GONZÁLEZ FLORES ITZEL INDIRA FRANCO GONZÁLEZ, JUAN ROMUALDO LÓPEZ GARCIA
       h5 JORGE SALAZAR ROJAS, KARLA DENISE BARRAGÁN TLÁQUIZ,LETICIA NATIVIDAD FLORES
       h5 MARIA LORENA ARROYO LUNA, MARIA MARCELINA TADEO CUAUTLE, MARIA OFELIA JAQUELINE MACHORRO FLORES
       h5 OSVALDO VAZQUEZ ALDAMA, PAULA MÁRQUEZ ALCALÁ, ROGELIO ARRONTE RODRÍGUEZ.

     h4.alert-success ESTUDIANTES DE LA FACULTAD DE MEDICINA BUAP - (URT)     
 