extends layout

block content
 div.container
     div.span9
      div.hero-unit
         h2 Esperando que con tu asisitencia
         .small Con el objetivo de fomentar el interés&nbsp; por la actividad 
          |científica de investigación, el Comité Organizador del IV Congreso 
          |Médico Universitario así como la Coordinación de la Facultad de&nbsp; 
          |Medicina de la BUAP Unidad Regional Tehuacán (URT) convocan a la 
          |comunidad&nbsp; médica así como&nbsp; estudiantes y pasantes de medicina
          |a presentar artículos originales de investigación&nbsp; en el IV 
          |Congreso Médico&nbsp; Universitario a realizarse los días 17, 18, 19 y 
          |20 octubre de 2012, en la Cd. de Tehuacán, Puebla.
      div.container     
       div.row-fluid
        div.span7
         h1 PREGUNTAS FRECUENTES
         p Este apartado está
          |dedicado para resolver las dudas más frecuentes que puedan surgir con 
          |respecto a los datos generales del IV Congreso Médico Universitario y II
          |Congreso Médico Internacional en Tehuacán, Puebla, México. Para mayor 
          |información y detalles sugerimos ponerse en 
        div.span7
         h2 ¿Qué es y quién organiza el IV Congreso Médico Universitario y II Congreso Médico Internacional?
         p Es un evento 
          |organizado por alumnos de la carrera de Médico Cirujano y Partero de la 
          |Facultad de Medicina de la Benemérita Universidad Autónoma de Puebla 
          |(BUAP) – Unidad Regional Tehuacán (URT) en coordinación con facultativos
          |de la misma.
        div.span7
         h2 ¿Cuándo y dónde se llevará a cabo el congreso?
         p El evento se llevará a cabo los días 17, 18, 19 y 20 de Octubre de 2012 en el Centro de 
          |Eventos Palmira, con dirección en Av. Enrique S. Mont #100 Fracc. 
          |Reforma Tehuacán, Puebla, México. Los cursos- talleres tendrán sede en 
          |Boulevard Adolfo López Mateos No. 3210 Altos, Plaza Teohuacan.
        div.span7
         h2 ¿De qué se va a tratar el congreso?
         p La temática es CIRUGÍA Y TRAUMA
        div.span7
         h2 ¿A quién va dirigido el congreso?
         p A todos los estudiantes y profesionales 
          |del área de la salud que estén interesados en actualizarse y conocer los
          |nuevos avances médicos en el área que nos compete.
        div.span7
         h2 ¿Quién avala el congreso?
         p El congreso será avalado por:
          |Benemérita Universidad Autónoma de Puebla (BUAP)
          |Cruz Roja de Polanco
       
       