extends layout

block content
 div.container
  div.row-fluid
   div.span8
     div.hero-unit     
       div.media-body
        h3
         a(href='http://paper.li/VCongresoMedico/1378193318')
          img.media-object(src='/images/logo.jpg')
        h3 Esperando que con tu asistencia (URT) invita.
        p Con el objetivo de fomentar el interés&nbsp; por la actividad 
         |científica, el Comité Organizador del V Congreso 
         |Médico Universitario así como la Coordinación de la Facultad de&nbsp; 
         |Medicina de la BUAP Unidad Regional Tehuacán (URT) invita a la 
         |comunidad&nbsp; médica así como&nbsp; estudiantil y pasantes de medicina
         |a asistir al V Congreso Medico Universitario proximo a realizarse los días
         |16, 17 y 18 de octubre de 2013
   div.span4
    div.well.sidebar-nav
     ul.nav.nav-list
      li.nav-header twitter
      li: a.twitter-timeline(width='300', height='500', href='https://twitter.com/VCongresoMedico', data-widget-id='374564539422887936') Tweets by @VCongresoMedico
     script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
       

 div.container
    div.span9
     div.page-header
      h2 HOTEL CASA CANTARRANAS
      .small
      ul
        li Hab. Sencilla - $820.00
        li Hab. Doble - $915.00
        li Hab. Triple - $950.00
        li Hab. Cuádruple - $985.00
        li Junior Suite - $1,120.00
       ul
        p Tel. 01 (238) 38 3 49 22&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        p Lada sin costo: 01 800 713 
         |00 81  
