extends layout
 
block content
 div.container-fluid
  div.row-fluid
    div.span8
     div.hero-unit     
       div.media-body
        h2.media-heading  5 &#176; CONGRESO MÉDICO UNIVERSITARIO 
        h2 III INTERNACIONAL
        p Se llevará a cabo los días 16, 17, y 18 de octubre del año 2013, 
         |en el salón de eventos del hotel Cantarranas  en  la ciudad de Tehuacán, Puebla. 
        p Contaremos con la presencia de ponentes  internacionales como : 

     
     div.row-fluid
      div.span4.alert.alert-info
       h4 Dr. Olimpio Rodríguez Santos
       p Cuba
      div.span4.alert.alert-info
       h4 Dra. Julia Méndez Leon  
       p EUA
      div.span4.alert.alert-info  
       h4 Dra. Desiree Larenas Linemman  
       p Holanda  
      div.span6
       div.media
        img.media-object(src='/images/logo.jpg')
      div.span2
        div.media
          img.media-object(src='/images/cona.jpg')
      div.span3
       h1.media-heading ¡Contámos con tu asistencia!
       h4.media-heading  URT Invita.       
    div.span4
     div.well.sidebar-nav
      ul.nav.nav-list
       li.nav-header twitter
       li: a.twitter-timeline(width='350', height='550', href='https://twitter.com/VCongresoMedico', data-widget-id='374564539422887936') Tweets by @VCongresoMedico
     script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

 
    footer.footer
//-
    div.span11
     div.hero-unit
     h2.media-heading  5 &#176; CONGRESO MÉDICO UNIVERSITARIO 
      h2 III INTERNACIONAL
      p Se llevará a cabo los días 16, 17, y 18 de octubre del año 2013, 
       |en el salón de eventos del hotel Cantarranas  en  la ciudad de Tehuacán, Puebla. 
      p Contaremos con la presencia de ponentes  internacionales como : 
     div.row-fluid
      div.span4.alert.alert-info
       h4 Dr. Olimpio Rodríguez Santos
       p Cuba
      div.span4.alert.alert-info
       h4 Dra. Julia Méndez Leon  
       p EUA
      div.span4.alert.alert-info  
       h4 Dra. Desiree Larenas Linemman  
       p Holanda  
     h4 ¡Contámos con tu asistencia!
     a.twitter-timeline(width='300', height='500', href='https://twitter.com/VCongresoMedico', data-widget-id='374564539422887936') Tweets by @VCongresoMedico
  script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

 
 div#footer  
  div.container
    a#twitter-share-button(href='https://twitter.com/share', data-via='VCongresoMedico') Tweet
    blockquote.twitter-tweet 
    p Prueba de twitter &mdash; V Congreso (@VCongresoMedico) 
    a(href='https://twitter.com/VCongresoMedico/statuses/374645525837922305') September 2, 2013
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -//
    