extends layout

block content
 div.container
  div.row-fluid
   div.span8
     div.hero-unit     
       div.media-body
        img.media-object(src='/images/logo.jpg')
        h3
         a(href='http://paper.li/VCongresoMedico/1378193318')
        h2 Ponentes
        h3 Contaremos con la presencia
        p 
         |De reconocidos médicos que compartirán con nosotros sus conocimientos y experiencias.  
   div.span4
    div.well.sidebar-nav
     ul.nav.nav-list
      li.nav-header twitter
      li: a.twitter-timeline(width='300', height='500', href='https://twitter.com/VCongresoMedico', data-widget-id='374564539422887936') Tweets by @VCongresoMedico
     script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
       
   div.container     
     div.row-fluid
      div.span6
       h3 DRA MARTHA CEBADA RAMIREZ 
       p PEDIATRA
       p PRESIDENTA DEL 
       |COLEGIO DE PEDIATRIA DEL ESTADO DE PUEBLA. 
      div.span6
       h3 DR OLIMPIO RODRIGEZ SANTOS 
       p ALERGOLOGO ESPECIALISTA DE 2° GRADO 
       p MIEMBRO DE LA ACADEMIA EUROPEA DE ALERGIA EAACI 
       p JEFE DEL SERVICIO DE ALERGIA DEL POLICLINICO PREVISORA CAMAGUEY CUBA 
       p AUTOR DE MULTIPLES TRABAJOS DE INVESTIGACION 
       P COLABORADOR EN VARIOS LIBROS DE ALERGIA E INMUNOLOGIA.
     div.row-fluid
      div.span6 
       h3 DR JOAQUIN LOAIZA GUZMAN 
       p EX PRESIDENTE DEL COLEGIO 
       |DE PEDIATRIA DEL ESTADO DE PUEBLA 
       P EX PRESIDENTE DEL 
       |CONSEJO MEXICANO DE CERTIFICACION EN PEDIATRIA.
      div.span6 
       h3 DR. PEDRO TOXTLI RIQUELME 
       p PEDIATRA EX PRESIDENTE DEL 
       |COLEGIO DE PEDIATRIA DEL ESTADO DE PUEBLA.
     div.row-fluid
      div.span6
       h3 DRA DESIREE LARENAS 
       p LINNEMANNALLERGIST AND 
        |PEDIATRICIAN CHAIR IMMUNOTHERAPY COMMITTEE OF THE 
        |AMERICAN ACADEMY OF ALLERGY, ASTHMA & IMMUNOLOGY 
        |CHAIR IMMUNOTHERAPY COMMITTEE CMICA, MEXICO. 
        | HOSPITAL MÉDICA SUR, TORRE 2, CONS.602 PUENTE DE 
        |PIEDRA 150, COL. TORIELLO GUERRA. 
      div.span6
       h3 DRA ELIZABETH RUIZ GUTIERREZ 
       p INFECTOLOGA PEDIATRA 
        |MEDICO CIRUJANO POR LA UNIVERSIDAD AUTÓNOMA DE 
        |GUADALAJARA, PEDIATRÍA POR UNAM, HOSPITAL INFANTIL DE 
        |MEXICO. FEDERICO GÓMEZ; MAESTRÍA EN CIENCIA MEDICAS 
        |E INVESTIGACIÓN CLÍNICA POR LA BENEMÉRITA UNIVERSIDAD 
        |AUTÓNOMA DE PUEBLA   
        |ACTUALMENTE PRACTICA PRIVADA 
        |HOSPITAL ANGELES DE PUEBLA. 
     din.row-fluid
      div.span6
       h3 DRA ROCIO HERNANDEZ MORALES 
       p ALERGOLOGA Y PEDIATRA 
       |SECRETARIA DEL COLEGIO DE ALERGIA DEL ESTADO DE 
       |PUEBLA Y SECRETARIA DEL CAPITULO CENTRO DEL COLEGIO 
       |MEXICANO DE INMUNOLOGIA CLINICA Y ALERGIA A.C. JEFA DEL 
       |SERVICIO DE ALERGIA DEL HOSPITAL GENERAL DEL SUR SSA 
       |PUEBLA PUEBLA. 
      div.span6
       h3 DR EDUARDO ROSALES PARRA 
       p ALERGOLOGO Y PEDIATRA 
       |EX PRESIDENTE DEL COLEGIO DE PEDIATRIA DEL ESTADO DE PUEBLA. 
       |EX DEL COLEGIO DE ALERGIA E INMUNOLOGIA DEL 
       |ESTADO DE PUEBLA Y EXPRESIDENTE DEL CAPITULO CENTRO 
       |DEL COLEGIO MEXICANO DE ALERGIA EN INMUNOLOGIA DE 
       |PUEBLA (CPEP,CAIP, CAPITULO CENTRO DE CMICA).
       |ACTUALMENTE PRACTICA PRIVADA EN ATLIXCO PUEBLA
     div.row-fluid
      div.span6
       h3 DR JOSE LUIS GALVEZ ROMERO 
       p ADSCRITO AL SERVICIO 
       |DE ALERGIA E INMUNOLOGIA DEL HOSPITAL REGIONAL DEL 
       |ISST    h E U    PUEBLA
    div.row-fluid
     div.span11
      h3 DRA JULIA MENDEZ LEON 
      p BELLANTI JA, ZELIGS BJ, MENDEZ DE INOCENCIO J, OMIDVAR BM, 
       |OMIDVAR J, AWASUM M. ALTERNATIVE ROUTES OF IMMUNIZATION FOR PREVENTION 
       |OF INFECTIOUS DISEASES: A NEW PARADIGM FOR THE 
       |21ST CENTURY. 
       |ALLERGY ASTHMA PROC 2001;22(3):173-6. ADERBAL S, 
       |BELLANTI JA, MALKA-RAIS J, CASTRO HJ, MENDEZ DE INOCENCIO JI, 
       |SABRA S. IGE AND NON-IGE FOOD ALLERGY (FA). 
       |ANN ALLERGY ASTHMA IMMUNOL. ANN ALLERGY ASTHMA IMMUNOCCINE, 
       |ALLERGY PROCEEDINGS Y JORNAL OF ASTHMA, ALLERGY AND IMMUNOLOGY. 
       |10 ULTIMAS PUBLICACIONES RELEVANTES DE LOS ULTIMOS CINCO AÑOS. 
       |BELLANTI JA, ZELIGS BJ, MENDEZ DE INOCENCIO J, OMIDVAR 
       |BM, OMIDVAR J, AWASUM M. ALTERNATIVE ROUTES OF 
       |IMMUNIZATION FOR PREVENTION OF INFECTIOUS DISEASES: 
       |A NEW PARADIGM FOR THE 21ST CENTURY. 
       |ALLERGY ASTHMA PROC 2001;22(3):173-6. ADERBAL S, 
       |BELLANTI JA, MALKA-RAIS, MÉNDEZ-INOCENCIO J, HUERTA-LÓPEZ J, 
       |BELLANTI JA, OVILLAMARTÍNEZ R, ESCOBAR GUTIÉRREZ A. ALERGIA. ENFERMEDAD 
       |MULTISISTÉMICA. ASPECTOS BÁSICOS Y CLÍNICOS. 1ª EDICIÓN. 
       |MÉXICO: EDITORIAL PANAMERICANA 2008.FACULTAD DE 
       |MEDICINA UNIVERSIDAD POPULAR AUTÓNOMA DEL ESTADO 
       |DE PUEBLA, ESPECIALIDAD Y ESTUDIOS DE POSTGRADO 
       |UNIVERSIDAD NACIONAL AUTÓNOMA DE MÉXICO HOSPITAL 
       |REGIONAL LICENCIADO ADOLFO LÓPEZ MATEOS ISSSTE.
    div.row-fluid
     div.span11
      h3 DR ALFREDO LAURRABAQUIO MIRANDA 
      p ALERGOLOGO E 
       |INMUNOLOGO Y PEDIATRA EGRESADO DEL HOSPITAL LOPEZ 
       |MATEOS ISSSTE. TIENE MAESTRÍA EN NUEVAS METODOLOGÍAS 
       |PARA LA ENSEÑANZA ES ADSCRITO AL SERVICIO DE 
       |INMUNOLOGÍA Y ALERGIA DEL HOSPITAL LOPEZ MATEOS DEL 
       |ISSSTE MÉXICO DF  MEDICO DR CIRUJANO POR LA UNAM. 
       |PEDIATRÍA MEDICA RESIDENCIA, CMN “LA RAZA”, IMSS 1988-
       |1991. SUBESPECIALIDAD EN INMUNOLOGÍA CLÍNICA Y ALERGIA, 
       |CMN LA RAZA IMSS, 1992-1993, & IMMUNOLOGY CENTER, 
       |GEORGETOWN UNIVERSITY MEDICAL CENTER (WASHINGTON 
       |D.C., EU),1994-1995 POSTDOCTORADO EN INMUNOLOGÍA DEL 
       |DESARROLLO POR EL IMMUNOLOGY CENTER, GEORGETOWN 
       |UNIVERSITY MEDICAL CENTER (WASHINGTON D.C., EU)
  