extends layout

block content
 div.container-fluid
  div.row-fluid
    div.span8
     div.hero-unit     
       div.media-body
        img.media-object(src='/images/logo.jpg')
        h3
         a(href='http://paper.li/VCongresoMedico/1378193318')
      div.row-fluid
       div.span8
       div.nav-header
      a.twitter-share-button(href='https://twitter.com/share', data-text='V Congreso Medico', data-via='VCongresoMedico', data-lang='es', data-hashtags='medicina') Twittear
      script
       !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
     div.span8
      div.media
       h1.media-heading PROGRAMA V CONGRESO MEDICO UNIVERSITARIO
       h4.media-heading 
       h4 III INTERNACIONAL 
        | PEDIATRÍA 
      div.container
       table.table.table-striped.table-bordered
        thead
         tr
          th Hora 
          th Actividad
          th Medico
        tbody
         tr 
          th.div.alert.alert-success DIA 1: Miércoles  16 octubre 
         tr
          td 08:30 a 09:15 horas 
          td Fiebre sin foco en el niño menor de 3 años.
          td Dr. Jesús René Freyre Pulido
         tr
          td 09:15 a 10:00 horas 
          td Importancia de la vacuna antivaricela
          td Dra. Martha Cevada Ramírez
         tr
          td 10:00 a 10:30 horas 
          td INAUGURACIÓN 
         tr
          td 10.30 a 11:15 horas 
          td Farmacovigilancia de vacunas preventivas en Cuba
          td Dr. Olimpio Rodriguez Santos
         tr
          td 11:15 a 11:45 horas
          td RECESO
         tr
          td 11:45 a 12:30 horas
          td Manejo de las infecciones en el niño quemado
          td Dr. Joaquín Loaiza Guzmán
         tr
          td 12:30 a 13:15 horas
          td Pasado, Presente y Futuro de la Pediatría en México
          td Dr. Pedro Toxtli Riquelme
         tr
          td 12:20 a&nbsp;   1:00 
          td  Manejo del trauma en   Tehuacán
          td  Dr. Roberto Bautista   Flores
         tr
          td 13:15 a 14:00 horas
          td Manejo de los niños con asma Bronquial
          td Dr. Olimpio Rodríguez Santos
         tr
          td.alert.alert-error TALLER
          td Aerosoloterapia
          td Dra. Desiree Larenas Linemman
         tr
          th.alert.alert-success DIA 2:  Jueves 17 octubre 
         tr
          td 08:30 a 09:15 horas
          td Reacciones adversas a medicamentos
          td Dr. Rodolfo Celio Murillo
         tr
          td 09:15 a 10:00 horas
          td Manejo de la NAC
          td Dra. Elizabeth Ruiz Gutiérrez
         tr
          td 10.00 a 10.45 horas
          td Enfermedades exantemáticas
          td Dra. Elizabeth Ruiz Gutiérrez
         tr
          td 10:45 a 11:15 horas
          td RECESO
         tr
          td 11:15 a 12:00 horas 
          td Manejo de antihistamínicos en el lactante
          td Dra. Rocío Hernández Morales
         tr
          td 12.00 a 12:45 horas
          td ¿Pueden ocasionar los pólenes enfermedades alérgicas en Cuba?
          td Dr. Olimpio Rodríguez Santos
         tr
          td 12:45  a 13:30 horas
          td Abordaje del niño con tos crónica
          td Dra. Rocío Hernández Morales
         tr
          td.alert.alert-error TALLER
          td Infecciones respiratorias altas
          td Dra. Elizabeth Ruiz Gutiérrez
         tr
          th.alert.alert-success DIA 3: Viernes 18 octubre
         tr
          td 08:30 a 09:15 horas 
          td Asma y obesidad
          td Dr. Eduardo Rosales Parra
         tr
          td 09:15 a 10:00 horas 
          td Virus y Sibilancias
          td Dr. Alfredo Laurrabaquio Miranda
         tr
          td 10:00 a 10:45 horas 
          td Abordaje de inmunodeficiencias por el médico de primer contacto
          td Dra. Julia Méndez León
         tr
          td 10:45 a 11:15 horas
          td RECESO
         tr
          td 11:15 a 12:00 horas
          td Manejo del asma en el niño, estudio  PRACTAL
          td Dr. Eduardo Rosales Parra
         tr
          td 12:00 a 12:45 horas
          td Alergia a alimentos
          td Dr. Alfredo Laurrabaquio Miranda
         tr
          td 12:45 a 13:30 horas
          td Actualidades en el uso de gamaglobulina IV
          td Dra. Julia Méndez León
         tr
          td 13:30 a 14:15 horas
          td Maduración del sistema inmune.
          td Dr. José Luis Gálvez Romero.
           
    div.span4
     div.well.sidebar-nav
      ul.nav.nav-list
       li.nav-header twitter
       li: a.twitter-timeline(width='300', height='400', href='https://twitter.com/VCongresoMedico', data-widget-id='374564539422887936') Tweets by @VCongresoMedico
     script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


  