extends layout

block content
 div.container
  div.row-fluid
   div.span8
     div.hero-unit     
       div.media-body
        h3
         a(href='http://paper.li/VCongresoMedico/1378193318')
          img.media-object(src='/images/logo.jpg')
        h3 ¡Contámos con tu asisitencia!
        p El Comité Organizador del V Congreso Médico Universitario así como la Coordinación de la Facultad de&nbsp; 
           |Medicina de la BUAP Unidad Regional Tehuacán (URT) invitan a la 
           |comunidad&nbsp; médica así como&nbsp; estudiantes y pasantes de medicina
           |a asistir al V Congreso Médico&nbsp; Universitario, proximo a realizarse los días 16, 17 y 18  
           |de octubre de 2013, en la Cd. de Tehuacán, Puebla.
        h3 TURISMO 
        p El H.&nbsp; Ayuntamiento de Tehuacán&nbsp; en conjunto con la Dirección de 
           |Turismo&nbsp; te invita a&nbsp; formar parte de la&nbsp; cultura de la 
           |región y conocer&nbsp; los lugares más representativos&nbsp; durante tu 
           |estancia en esta ciudad.
         p  <a href="http://turismo.tehuacan.gob.mx/" target="_blank">http://turismo.tehuacan.gob.mx/</a>
         p DIRECCIÓN DE TURISMO TEHUACÁN RAYÓN&nbsp; # 7. CENTRO HISTÓRICO
         p C.P. 75700 TEL.: (238) 380 35 13
   div.span4
    div.well.sidebar-nav
     ul.nav.nav-list
      li.nav-header twitter
      li: a.twitter-timeline(width='300', height='700', href='https://twitter.com/VCongresoMedico', data-widget-id='374564539422887936') Tweets by @VCongresoMedico
     script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
   
