extends layout
 
block content
 
 div.container
  div.span7
   div.hero-unit
    h1 VALORES 
    div#sidebar
     h3 MISIÓN
     p Fomentar en la comunidad médica de manera
      |integral con ponentes de talla internacional y nacional temas de 
      |interés cotidiano el campo de pediatría, proporcionándoles 
      |herramientas para tomar el mando ante procedimientos que requieran de 
      |sus habilidades en dichas áreas de la salud.
     p 
     h3 VISIÓN
     p Con el respaldo de cuatro congresos&nbsp; 
      |previos realizados también por alumnos de la facultad de medicina 
      |BUAP-URT catalogarnos como uno comprometido con los profesionales de la 
      |salud manteniéndolos a la vanguardia en temas de interés y así reafirmar
      |nuestro compromiso ante nuestra comunidad médica.
     p
     h3 OBJETIVO GENERAL
     p Desarrollo de capacidad y competencia a 
      |través de conocimiento transmitido por expertos en el área de pediatría 
      |por medio de ponencias en temas de relevancia e interés común.
     h3 OBJETIVOS PARTICULARES
     ul
     li Actualización de temas de interés&nbsp; para el médico de familia, 
     |el estudiante de medicina y otros profesionales de la salud&nbsp; en el 
     |área de pediatría.
     li Promover el desarrollo de habilidades y destrezas mediante la impartición de talleres.
  div.span4
   div.well.sidebar-nav
    ul.nav.nav-list
     li.nav-header twitter
     li: a.twitter-timeline(width='300', height='500', href='https://twitter.com/VCongresoMedico', data-widget-id='374564539422887936') Tweets by @VCongresoMedico
     img.media-object(src='/images/cona.jpg')
     img.media-object(src='/images/logo.jpg')

     script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

          